
/***** VENDOR PROFILE CAROUSEL ****/
* {box-sizing:border-box}

 Slideshow container
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
/*.mySlides {*/
/*    display: none;*/
/*}*/
/*.mySlides.active{*/
/*    display:block;*/
/*}*/

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    /*background-color: #717171;*/
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/****** LOGIN PAGE ****/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 7em auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    /*background: #4CAF50;*/
    width: 100%;
    /*border: 0;*/
    padding: 15px;
    /*color: #FFFFFF;*/
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #3C403D;
    color: #FFFFFF;
    border-color: #3C403D;

}
.form button:hover,.form button:active,.form button:focus {
    background-color: #FFFFFF;
    color: #3C403D;
    border-color: #3C403D;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: #DADED4;
    /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);*/
    /*background: -moz-linear-gradient(right, #76b852, #8DC26F);*/
    /*background: -o-linear-gradient(right, #76b852, #8DC26F);*/
    /*background: linear-gradient(to left, #76b852, #8DC26F);*/
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    position: relative;
}
.background{
    width: 100%;
    height: 102%;
    position: absolute;
    z-index: -9999;
    display: block;
}
.background-food{
    background: url(../images/pattern2.png) repeat;
    background-size: contain;
}
.background-utensils{
    background: url(../images/pattern3.png) repeat;
    background-size: contain;
    height: 106%;
}
.register{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.register:hover{
    background: #43A047;
    text-decoration: none;
}
a .register{
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}
.vendor{
    margin-top: 1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/**** SLIDER  CSS *****/
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slideshow {
    overflow: hidden;
}

.slideshow-img{
    max-height: 95vh;
    width: auto;
    height: auto;
}

.slick-list{
    max-height: 100% !important;
}

.slick-dots{
    bottom: 10px;
    position: unset;
}

/*.slick-track{*/
/*    max-width: 100%;*/
/*}*/

.slider.round:before {
    border-radius: 50%;
}

/*** REGISTER PAGES ***/

.register-header{
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: larger;
}

.choose-file{
    margin-bottom: 5px;
}

/*** VENDORS INDEX ***/

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 70%;
    margin: 0 auto 100px auto;
    padding-top: 3em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding-left: 3em;
    padding-right: 3em;
}

.vendor-card{
    background-color: #f2f2f2;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 95%;
    margin-bottom: 3em;
}

.vendor-name{
    margin-top: 1em;
    font-size: larger;
    font-weight: bold;
}

a .vendor-name{
    color: #76b852;
}

a .vendor-name:active{
    transition: all 15ms ease-in-out;
    transform: translateY(3px);
}

.vendor-name:hover{
    color: #8DC26F;
    text-decoration: none;
    font-weight: bold;
}

.vendor-header{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: .5em;
}

.vendor-property{
    margin-left: 1em;
}

.card-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    font-weight: bold;
    margin: 1em 1em 0 1em;
}

#map{
    width: 100%;
    min-height: 60vh;
}

#popupImg {
    width: 80px;
}
.marker {
    /*background-image: url('https://cdn.iconscout.com/icon/premium/png-512-thumb/nearby-restaurant-1627227-1379436.png');*/
    /*background-image: url('truck-solid.svg');*/
    background-image: url('../images/restaurant.png');

    background-size: cover;
    width: 40px;
    height: 40px;
    /*border-radius: 50%;*/
    cursor: pointer;
}


/* REVIEW PAGE */

.rating-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #8DC26F;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    transition: .1s;
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    color: #43A047;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #43A047;
}

.cards a{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: .5em;
    border: #3C403D .10em solid;
    padding: 1em;
    margin-bottom: 1.25em;
    background-color: #3C403D;
    color: #FFFFFF;
}

.cards a:hover{
    transform: scale(1.075);
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    background-color: #ffffff;
    color: #3C403D;
}

/**** USER PROFILE PAGE ****/

.user-cont{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.user-txt{
    font-weight: bold;
}

.profile-image{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.edit-profile{
    margin-top: .5em;
    color: #76b852;
}


/*** VENDOR PROFILE ***/

.banner-img{
    width: 100%;
    max-height: 400px;
    -webkit-filter: blur(2px);
}

.vendor-profile-name{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -400%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.vendor-body{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 75%;
    width: 75%;
    margin: 7em auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.vendor-body button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    /*background: #4CAF50;*/
    /*width: 100%;*/
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 1em;
}

.vendor-body button:hover{
    text-decoration: none;
    /*background-color: #8DC26F;*/
    border: 1px solid black;
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
}

.vendor-body button:active{
    text-decoration: none;
    background-color: #43A047;
    transform: translateY(3px);
}

.location{
    font-weight: bold;
}

.vendor-body a {
    color: #8DC26F;
}

.follow-btn{
    position:absolute;
    transform: translate(0px, -210px);
    height: 75%;
    display:flex;
    align-items: center;
    /*margin-top: 5em;*/
}

/*** LOCATE ME STYLES ***/

.geoSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 1.5em auto 2em;
}

.geoSearch input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0 1em 0 2em;
}

.geoSearch button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    /*outline: 0;*/
    /*background: #4CAF50;*/
    /*border: 0;*/
    padding: 15px;
    /*color: #FFFFFF;*/
    font-size: 14px;
    /*-webkit-transition: all 0.3s ease;*/
    /*transition: all 0.3s ease;*/
    cursor: pointer;
    background-color: #3C403D;
    /*background-color: #DADED4;*/
    color: #FFFFFF;
    border-color: #3C403D;
}

.locate-message{
    text-align: center;
    margin: 0 0 0 0;
    color: #808080;
    font-size: 12px;
}

/*** NAVBAR ***/

.navbar-input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.navbar-button{
    font-family: "Roboto", sans-serif;
    /*outline: 0;*/
    /*background: #4CAF50;*/
    /*border: 0;*/
    padding: 15px;
    /*color: #FFFFFF;*/
    font-size: 14px;
    /*-webkit-transition: all 0.3s ease;*/
    /*transition: all 0.3s ease;*/
    cursor: pointer;
    background-color: #FFFFFF;
    color: #3C403D;
    border-color: #3C403D;
}


/*** MEDIA QUERIES ***/

/* Screen Size for Mobile View */
@media only screen and (max-width: 480px) {

    /* Vendor Profiles */
    .vendor-profile-name {
        margin-top: 1.5em;
    }
    .vendor-body button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 10px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        cursor: pointer;
        margin-top: 0;
        margin-right: 1em;
    }
    .vendor-body {
        margin: 0;
        border-radius: 15px;
        top: 4em;
    }
    .btn-primary {
        background-color: #3C403D;
        /* background-color: #DADED4; */
        color: #FFFFFF;
        border-color: #3C403D;
        margin-top: 5em;
    }
    .btn-primary {
        margin-top: 1em;
    }
    .mb-3, .my-3 {
        margin-bottom: 1rem!important;
    }

    /* User Profile */
    div.cards {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0;
    }

    /* Vendor Index Page */
    div.vendor-card {
        /* background-color: #EAE7DC; */
        margin-right: auto;
        margin-left: auto;
        width: 70vw;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 15px;
    }
    .vendor-card {
        /* background-color: #EAE7DC; */
        margin-right: auto;
        margin-left: auto;
        width: 70vw;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 15px;
    }

    /* About Us Page Styling */
    .vendor-header {
        margin-bottom: 2em;
        width: 100%;
        font-size: xxx-large;
        margin-top: 1em;
    }
    div.member {
        width: 73%;
        padding: 2em;
        text-align: center;
    }
    div.members {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    p.locate-message.project-description {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: medium;
        /* font-weight: 900; */
        /*display: contents;*/
        padding: 2em;
    }

    .form-inline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    /*.ml-auto, .mx-auto {*/
    /*    margin: auto auto!important;*/
    /*}*/

    input.field {
        width: 50%;
    }

    input#address {
        width: 50%;
    }

    .vendor-profile-name {
        margin-top: 2.5em;
    }

    button.navbar-toggler {
          margin-left: auto;
      }

    div.bg-text {
        margin-top: 1em;
    }

    .register {
        height: 4em;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.landing-icon.register {
        width: 8em;
        height: 8em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #f1f1f1;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        border-radius: 50%;
        margin: 1em;
    }

    .landing-icon {
        width: 7em;
        height: 7em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #f1f1f1;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        border-radius: 50%;
        margin: 1em;
    }

    .navbar-collapse {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin-left: initial;
        width: initial;
    }

    .navbar {
        z-index: 9999;
    }

    .nav-link {
        display: inline-flex;
        padding: 0.5rem 0.6rem;
    }

    button.follow-button {
        margin-top: 10em;
    }

    .follow-btn {
        margin-right: 10em;
        margin-top: 1em;
    }

    div.contact-form-button {
        margin-left: 0;
        margin-bottom: 2em;
    }

    button#message-button {
        position: absolute;
        margin-left: 7em;
        margin-top: -64px;

    }

    /*** LANDING PAGE MEDIA QUERIES ***/

    .bg-text{
        transform: translate(13%, 30%);
        position: static;
    }
    .btn-container.animate__animated.animate__zoomIn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4.5em;
    }
    nav{
        padding: 0;
    }
    #img-logo{
        padding: .75em;
    }
    .navbar-toggler{
        margin-right: 1em;
    }
    .navbar-input{
        width: 60%;
    }
    .navbar-form{
        justify-content: center;
    }
    .nav-link{
        padding: .5em 2em;
    }
    #navbarContent{
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        flex-direction: column;
        /*align-items: center;*/
        /*justify-content: center;*/
        /*align-content: center;*/
    }
    #navbar-links{
        width: initial;
        margin: 0;
    }
}


/* Screen Size for Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {

    .vendor-profile-name {
        margin-top: 3em;
    }

   button.navbar-toggler {
       margin-left: auto;
   }

    .register {
        width: 7em;
        /*height: 7em;*/
    }

    div.landing-icon.register {
        width: 8em;
        height: 8em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #f1f1f1;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        border-radius: 50%;
        margin: 1em;
    }

    .navbar-collapse {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    .nav-link {
        display: inline-flex;
        padding: 0.5rem -1rem;
    }

    .active, .dot:hover {
        /*align-items: center;*/
    }

    .nav-item.active.ml-auto.w-25.p-3.d-flex.justify-content-around {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: auto;
    }

    button.follow-button {
        margin-top: 10em;
    }

    .follow-btn {
        margin-right: 10em;
        margin-top: 1em;
    }

    div.contact-form-button {
        margin-left: 0;
        margin-bottom: 2em;
    }

    button#message-button {
        position: absolute;
        margin-left: 7em;
        margin-top: -64px;

    }
}

/* Screen Size for Desktop */
@media only screen and (min-width: 769px) {

    #navbar-links{
        margin-left: auto;
        width: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

}

/*VENDOR AVERAGE STAR RATING CSS*/
.star-ratings {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px; /*crops image height to avoid the image repeating, same for width*/
    line-height: 0;
    overflow: hidden;
    width: 110px;
}
.star-ratings-fill {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x 0 100%; /*can fill from 0 to 100% of the image*/
    float: left;
    height: 21px; /*has to match height in star-ratings so they can overlap each other correctly*/
    display: block;
}

/* slideshow dots */
.dot:active {
    background-color: black;
}

.dot.active{
    background-color: black;
}