* {
    box-sizing: border-box;
}

.bg-img {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    max-height: 30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
/*.banner{*/
/*    height: 25%;*/
/*}*/
/*.banner-img{*/
/*    width: 100%;*/
/*}*/

.redirect-link{
    color: #f2f2f2;
}

.redirect-link:active{
    color: #cccccc;
}

body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/*** NAVBAR ***/

/*.navbar-input{*/
/*    font-family: "Roboto", sans-serif;*/
/*    outline: 0;*/
/*    background: #f2f2f2;*/
/*    border: 0;*/
/*    padding: 15px;*/
/*    box-sizing: border-box;*/
/*    font-size: 14px;*/
/*}*/

/*.navbar-button{*/
/*    font-family: "Roboto", sans-serif;*/
/*    text-transform: uppercase;*/
/*    outline: 0;*/
/*    background: #4CAF50;*/
/*    border: 0;*/
/*    padding: 15px;*/
/*    color: #FFFFFF;*/
/*    font-size: 14px;*/
/*    -webkit-transition: all 0.3s ease;*/
/*    transition: all 0.3s ease;*/
/*    cursor: pointer;*/
/*}*/