* {
    box-sizing: border-box;
}


/*.bg-img { !*this is what is pushing down the 3 buttons*!*/
    /*filter: blur(8px);*/
    /*-webkit-filter: blur(8px);*/
    /*max-height: 30em;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
/*}*/


.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 30%; /*removing some spacing from top*/
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.banner{
    height: 25%;
}
.banner-img{
    /*moved from .bg-img*/
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /**/
    position: absolute;
    width: 100%;
    height: 90%; /*lowering image height to remove scroll space*/
    object-fit: cover;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;

    animation-delay: 200ms;

    margin-top: 20em; /*pushing down the buttons*/
}
.landing-icon{
    width: 7em;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #f1f1f1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    border-radius: 50%;
    margin: 1em;
}
.redirect-link{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #f2f2f2;
}
.redirect-link:hover{
    color: #f2f2f2;
    transition: .1s;
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    text-decoration: none;
    font-weight: bold;
}
.redirect-link:active{
    transition: all 15ms ease-in-out;
    transform: translateY(3px);
}

/*** NAVBAR ***/

.navbar-input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.navbar-button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .bg-text{
        transform: translate(13%, 30%);
        position: static;
    }
    .btn-container.animate__animated.animate__zoomIn {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 4.5em;
    }
    /**/

    .navbar-collapse {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin-left: initial;
        width: initial;
    }

    .navbar {
        z-index: 9999;
    }

    .nav-link {
        display: inline-flex;
        padding: 0.5rem 0.6rem;
    }

    nav{
        padding: 0;
    }
    #img-logo{
        padding: .75em;
    }
    .navbar-toggler{
        margin-right: 1em;
    }
    .navbar-input{
        width: 60%;
    }
    .navbar-form{
        justify-content: center;
    }
    /*.nav-link{*/
    /*    padding: .5em 2em;*/
    /*}*/
    .nav-links{
        margin-right: auto;
    }
    #navbar-links{
        justify-content: initial;
    }
    /**/
    .bg-text{
        transform: translate(13%, 30%);
        position: static;
    }
    .btn-container.animate__animated.animate__zoomIn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4.5em;
    }
    nav{
        padding: 0;
    }
    #img-logo{
        padding: .75em;
    }
    .navbar-toggler{
        margin-right: 1em;
    }
    .navbar-input{
        width: 60%;
    }
    .navbar-form{
        justify-content: center;
    }
    .nav-link{
        padding: .5em 2em;
    }
    #navbarContent{
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        flex-direction: column;
        /*align-items: center;*/
        /*justify-content: center;*/
        /*align-content: center;*/
    }
    #navbar-links{
        width: initial;
        margin: 0;
    }
}
@media only screen and (max-width: 325px) {
    #img-logo{
        max-width: 1em;
    }
}

/*@media only screen and (min-width: 400px) and (max-width: 470px){*/
/*    #navbar-links{*/
/*        margin-left: 1.5em;*/
/*        width: initial;*/
/*        justify-content: initial;*/
/*    }*/
/*}*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

    .vendor-profile-name {
        margin-top: 3em;
    }

    button.navbar-toggler {
        margin-left: auto;
    }

    .register {
        width: 7em;
        /*height: 7em;*/
    }

    div.landing-icon.register {
        width: 8em;
        height: 8em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #f1f1f1;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        border-radius: 50%;
        margin: 1em;
    }

    .navbar-collapse {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    .nav-link {
        display: inline-flex;
        padding: 0.5rem -1rem;
    }

    .active, .dot:hover {
        /*align-items: center;*/
    }

    .nav-item.active.ml-auto.w-25.p-3.d-flex.justify-content-around {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: auto;
    }

    button.follow-button {
        margin-top: 10em;
    }

    .follow-btn {
        margin-right: 10em;
        margin-top: 1em;
    }

    div.contact-form-button {
        margin-left: 0;
        margin-bottom: 2em;
    }

    button#message-button {
        position: absolute;
        margin-left: 7em;
        margin-top: -64px;

    }
}

/* Screen Size for Desktop */
@media only screen and (min-width: 769px) {

    #navbar-links{
        margin-left: auto;
        width: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

}

/*VENDOR AVERAGE STAR RATING CSS*/
.star-ratings {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px; /*crops image height to avoid the image repeating, same for width*/
    line-height: 0;
    overflow: hidden;
    width: 110px;
}
.star-ratings-fill {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x 0 100%; /*can fill from 0 to 100% of the image*/
    float: left;
    height: 21px; /*has to match height in star-ratings so they can overlap each other correctly*/
    display: block;
}

/* slideshow dots */
.dot:active {
    background-color: black;
}

.dot.active{
    background-color: black;
}

