<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="partials/head :: head" >-->
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>Add Menu Item</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="form form-register">
    <div class="register-header">Add Menu Item</div>
    <form th:action="'/vendors/' + ${vendor.id} + '/menu/create'" th:method="post" th:object="${item}">
        <div class="form-group">
            <label for="name">Name</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Chicken Taco">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea th:field="*{description}" class="form-control" id="description"
                      placeholder="Serve in warmed tortillas with desired toppings"></textarea>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select name="type" id="type">
                <option th:each="type : ${types}" th:value="${type.name}" th:text="${type.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="categories">Categories</label>
            <select name="categories" id="categories" multiple>
                <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
            </select>
        </div>
        <!-- THE BELOW FORM GROUP HOLDS THE URL TO THE UPLOADED IMAGE, IT IS INVISIBLE -->
        <div class="form-group d-none">
            <input th:field="*{image_url}" type="text" class="form-control" id="image_url">
        </div>
        <div class="form-group">
            <label for="filestack">Item Image</label>
            <button id="filestack" type="button">Select Image</button>
        </div>
        <button class="btn btn-light" type="submit">Add Item</button>
    </form>
</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>