<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8" >
    <title>Contact Us</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/mobileeats_logo2.png">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<!-- FORM-BODY-DIV -->
<div class="contact-form-body">

    <div id="contact-form">
        <h2 class="contact-form-h2">Contact Us</h2>
        <!-- FORM FOR THE CONTACT PAGE -->
        <form id="form-id" method="POST">

            <!-- NAME-DIV -->
            <div class="form-group">
                <label for="name" class="cf-label">Your Name</label>
                <div class="input-group">
                    <input type="text" id="name" name="name" required />
                </div>
            </div>
            <br>

            <!-- EMAIL-DIV -->
            <div class="form-group">
                <label for="email" class="cf-label">Your Email</label>
                <div class="input-group">
                    <input type="email" id="email" name="email" required />
                </div>
            </div>
            <br>

            <!-- SUBJECT-DIV -->
            <div class="form-group">
                <label for="subject" class="cf-label">Subject</label>
                <div class="input-group">
                    <input type="text" id="subject" name="subject" required/>
                </div>
            </div>
            <br>

            <!-- MESSAGE-DIV -->
            <div class="form-group">
                <label for="message" class="cf-label">Message</label>
                <div class="input-group">
                    <textarea id="message" name="message" rows="6" maxlength="3000" required ></textarea>
                </div>
            </div>


            <!-- SUBMIT BUTTON -->
            <div class="form-group">
                <button type="submit" id="button" class="btn btn-primary">Send Message</button>
            </div>


        </form>
    </div>
</div>


<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>