<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8" >
    <title>Contact Us</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/mobileeats_logo2.png">
</head>
<body class="background background-food2">
<nav th:replace="partials/navbar :: navbar"></nav>
<!-- FORM-BODY-DIV -->
<div class="contact-form-body mt-5 mx-5">

    <div class="mx-auto contact-form-center" id="contact-form ">
        <h2 class="contact-form-h2 text-center mb-3">Contact Us:</h2>
        <!-- FORM FOR THE CONTACT PAGE -->
        <form id="form-id" method="POST">

            <!-- NAME-DIV -->
            <div class="form-group">
                <label for="name" class="cf-label mb-0">Your Name:</label>
                <div class="input-group">
                    <input type="text" size="45" id="name" name="name" required />
                </div>
            </div>


            <!-- EMAIL-DIV -->
            <div class="form-group ">
                <label for="email" class="cf-label mb-0">Your Email:</label>
                <div class="input-group">
                    <input type="email" size="45" id="email" name="email" required />
                </div>
            </div>


            <!-- SUBJECT-DIV -->
            <div class="form-group">
                <label for="subject" class="cf-label mb-0">Subject:</label>
                <div class="input-group">
                    <input type="text" size="45" id="subject" name="subject" required/>
                </div>
            </div>


            <!-- MESSAGE-DIV -->
            <div class="form-group">
                <label for="message" class="cf-label mb-0">Message:</label>
                <div class="input-group">
                    <textarea id="message" name="message" cols="44" rows="10" maxlength="3000" required ></textarea>
                </div>
            </div>


            <!-- SUBMIT BUTTON -->
            <div class="form-group text-center">
                <button type="submit" id="button" class="btn btn-primary ">Send Message</button>
            </div>


        </form>
    </div>
</div>


<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>