<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="partials/head :: head" >-->
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>Add Menu Item</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="form form-register">
    <div class="register-header">Edit Menu Item</div>
    <form th:action="'/vendors/' + ${vendor.id} + '/menu/' + ${item.id} + '/edit'" th:method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="Chicken Taco"
                   th:value="${item.name}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description"
                      placeholder="Serve in warmed tortillas with desired toppings"
                      th:text="${item.description}"></textarea>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="" name="type" id="type">
                <option th:each="type : ${types}" th:value="${type.name}" th:text="${type.name}"
                        th:selected="${type == item.itemType}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="categories">Categories</label>
            <select class="" name="categories" id="categories" multiple>
                <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"
                        th:selected="${item.categories.contains(category)}"></option>
            </select>
        </div>
        <!-- THE BELOW FORM GROUP HOLDS THE URL TO THE UPLOADED IMAGE, IT IS INVISIBLE -->
        <div class="form-group d-none">
            <input name="image_url" type="text" class="form-control" id="image_url">
        </div>
        <div class="form-group">
            <label for="filestack">Item Image</label>
            <button id="filestack" class="btn btn-primary" type="button">Select Image</button>
        </div>
        <button class="btn btn-primary" type="submit">Edit Item</button>
    </form>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>