<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head" >
    <title>Edit Password</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="login-page">
    <div class="form">
        <form class="animated" th:action="@{editPassword}" th:method="POST">
            <label for="oldPassword">Enter Your Current Password</label>
            <input id="oldPassword" name="oldPassword" type="password" />
            <label for="newPassword">Enter a New Password</label>
            <input id="newPassword" name="newPassword" type="password" />
            <button type="submit">Reset Password</button>
        </form>
    </div>
</div>
</body>
</html>