<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head::head">
    <title>Edit Profile Page</title>
</head>
<body class="background background-food">
<div class="form">
    <div class="register-header">Edit Profile Info</div>
    <form class="animated" th:action="@{'/users/' + ${user.id} + '/edit'}" th:object="${user}" method="post">
        <label for="first_name">First Name</label>
        <input id="first_name" type="text" th:field="*{first_name}" th:value="${user.first_name}">
        <label for="last_name">Last Name</label>
        <input id="last_name" type="text" th:field="*{last_name}" th:value="${user.last_name}">
        <label for="username">Username</label>
        <input id="username" type="text" th:field="*{username}" th:value="${user.username}"/>
        <input id="password" type="hidden" th:field="*{password}" th:value="${user.password}"/>
        <input id="following" type="hidden" th:field="*{following}" th:value="${user.following}"/>
        <label for="email">Email</label>
        <input id="email" type="text" th:field="*{email}" th:value="${user.email}"/>
        <label for="location">Location</label>
        <input id="location" type="text" th:field="*{location}" th:value="${user.location}">
        <div class="form-group d-none">
            <input th:field="*{image_url}" type="text" class="form-control" id="image_url" value="${user.image_url}">
        </div>
        <div class="form-group">
            <label for="filestack">Profile Picture</label>
            <button id="filestack" class="btn btn-primary" type="button">Select Image</button>
        </div>
        <div id="thumbnail-container" class="mb-4">
            <img id="thumbnail" th:src="${user.image_url}" width="200px">
        </div>
        <button class="btn btn-primary" type="submit">Submit Changes</button>
        <p class="message"><strong>Want to change your password?</strong></p>
        <p class="message"><a th:href="@{'/users/' + ${user.id} + '/editPassword'}">Change Account Password</a></p>
    </form>

</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>