<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>



<footer th:replace="partials/footer :: footer"></footer>

<script>

    $(document).ready(function() {
        $.ajax({
            type: 'POST',
            url: '/test',
            data: {
                message: 'hello'
            },
            success: function(text) {
                $(document.body).text('Response: ' + text);
            },
            error: function (jqXHR) {
                $(document.body).text('Error: ' + jqXHR.status);
            }
        });
    });

</script>
</body>
</html>