<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="css/custom.css"/>
</head>
<body id="edit">

<h1>Edit Profile</h1>

<div class="edit-container">
    <input type="text" placeholder="username"/>
    <br>
    <input type="text" placeholder="email"/>
    <br>
    <input type="password" placeholder=" new password"/>
    <br>
    <input type="password" placeholder="re-enter password">
    <br>
    <input type="checkbox" checked/> User
    <input type="checkbox" checked/> Vendor
</div>

</body>
</html>