<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="partials/head :: head" >-->
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
<!-- NEEDED TO RUN MODAL -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--    <link rel="stylesheet" href="css/login-page.css">-->
    <link rel="stylesheet" href="css/custom.css">
    <link rel="shortcut icon" type="image/png" href="/static/images/mobileeats_logo2.png">

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="login-page">
    <div class="form">
        <form class="animated" th:action="@{resetPassword}" th:method="POST">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" />
            <button type="submit">Reset Password</button>
            <p class="message"><strong>Wrong page?</strong></p>
            <p class="message"><a href="/login">Log in</a></p>
            <p class="message"><a href="/users/create">Register as a user</a></p>
            <p class="message"><a href="/vendors/create">Register as a vendor</a></p>
        </form>
    </div>
</div>
</body>
</html>