<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head::head">
    <title>Reviews</title>
    <link rel="stylesheet" type="text/css" href="../static/css/review-page.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Leave a Review Here!</h1>

<div class="container">
    <div class="post">
        <div class="text">Thanks for your rating!</div>
    </div>
    <div class="star-widget">
        <input type="radio" name="rate" id="rate-5"/>
        <label for="rate-5" class="fas fa-star" ></label>

        <input type="radio" name="rate" id="rate-4"/>
        <label for="rate-4" class="fas fa-star"></label>

        <input type="radio" name="rate" id="rate-3"/>
        <label for="rate-3" class="fas fa-star"></label>

        <input type="radio" name="rate" id="rate-2"/>
        <label for="rate-2" class="fas fa-star"></label>

        <input type="radio" name="rate" id="rate-1"/>
        <label for="rate-1" class="fas fa-star"></label>
    </div>
        <form action="#" >
            <header></header>
            <div class="textarea">
                <br><br>
                    <textarea cols="45" placeholder="Food Truck Name"></textarea>
                    <textarea cols="45" rows="7" placeholder="How'd we do?"></textarea>
            </div>
            <div class="btn">
                <button type="submit">Post</button>
            </div>
        </form>
    </div>


<!----- JAVASCRIPT LINK -------->
<script src="../static/js/reviews-page.js"></script>
</body>
</html>