<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head::head">
    <title>Reviews</title>
</head>
<body>
<nav th:replace="partials/navbar::navbar"></nav>
<div class="form">
    <form class="rating-form" th:action="@{'/' + ${user.id} + '/reviews/' + ${vendor.id}}" th:object="${review}" method="post">
            <div class="rate">
                <input type="radio" th:field="*{rating}" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" th:field="*{rating}" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" th:field="*{rating}" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" th:field="*{rating}" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" th:field="*{rating}" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>
            <div class="rev-box form-group shadow-textarea">
                <label class="review" for="review">Brief Review</label>
                <textarea id="review" th:field="*{body}" class="review form-control z-depth-1" cols="30" name="review"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>

