<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head" >

    <!--<head th:replace="partials/navbar :: link_bootstrap">-->
    <meta charset="UTF-8">
    <title>View Menu</title>
    <!--&lt;!&ndash;    <th:block th:replace="partials/navbar :: link_bootstrap" ></th:block>&ndash;&gt;-->

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>



<!--<div class="cards">-->
    <h1 class="vendor-header mt-4" th:text="${vendor.name} + '\'s Menu'"></h1>
<div class="d-flex justify-content-center mb-2">
<a class="mb-3" th:if="${owner}" th:href="'/vendors/' + ${vendor.id} + '/menu/create'"><button type="button" class="btn btn-primary">Add Menu Item</button></a>
</div>
    <div class="vendor-card" th:each="item, i : ${items}">
        <div th:id="${item.id}">

            <h3 class="vendor-property vendor-name" th:text="${item.name}" />
            <hr>
            <div class="d-flex">
                <div class="col-8">
                    <div class="label">Type: </div>
                    <p class="vendor-property category" th:text="${item.itemType.name}"></p>
                    <div class="label">Categories: </div>
                    <th:block th:each=" category : ${item.categories}">
                        <p class="vendor-property category" th:text="${category.name}"></p>
                    </th:block>
                    <div class="label">Description: </div>
                    <p class="vendor-property category" th:text="${item.description}"></p>
                </div>
<!--                -->

                <div  class="col-4">
                    <img th:if="${item.image_url == ''}" class="card-logo rounded" src="/images/no-image-icon.png" alt="menu item">
                    <img  th:unless="${item.image_url == ''}" class="card-logo rounded" th:src="${item.image_url}" alt="menu item">

                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="mr-1">
                    <a th:if="${owner}" th:href="@{'/vendors/' + ${vendor.id} + '/menu/' + ${item.id} + '/delete'}"><button type="button" class="btn btn-primary">Delete</button></a>
                </div>
                <div class="ml-1">
                    <a th:if="${owner}" th:href="@{'/vendors/' + ${vendor.id} + '/menu/' + ${item.id} + '/edit'}"><button type="button" class="btn btn-primary">Edit</button></a>
                </div>

            </div>
        </div>
    </div>
<!--</div>-->

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>